header
    .navbar
        .logo
            a(href="")
                img(src="img/logo-header.svg" alt="")
        .SignUp-head-subtitle.padding-none
            span Already have an account?
            a.color-blue Sign in
    .success-message
        .success-message-context
            .success-message-icon
                img.success-icon(src="img/success-check.svg" alt="" srcset="")
            .success-message-text
                h1 Check your e-mail!
                span We sent instruction for reset password to your e-mail. Please check your e-mail.





