header
    .navbar
        .logo
            a(href="")
                img(src="img/logo-header.svg" alt="")
        .SignUp-head-subtitle.padding-none
            span Already have an account?
            a.color-blue Sign in
    .fail-message
        .fail-message-context.fail-context
            .fail-message-icon
                img.fail-icon(src="img/fail-icon.svg" alt="" srcset="")
            .fail-message-text
                h1 Oops… Something went wrong!
                span Something went wrong. Please check details and try again.
            .fail-message-btn
                a.btn(href="" ) Report problem
                a.btn.details(href="" ) Details 




