.row
  .col-right-signIn 
    .right
      .logo-signIn
        a(href="")
          img.logoBotbox(src="img/logo-header.svg" alt="" srcset="")
      .SignUp-head
        h1.SignUp-head-title Welcome back
        .SignUp-head-subtitle
          span Don't have an account? 
          a(href="").color-blue Sign in
      form.SignUpForm
        .group.margin-bottom 
          input#email(type='text' required='')
          span.highlight
          label.lab-email E-mail
          p.group-example.email-example Enter your company e-mail
        .group.margin-bottom 
          .pass
            input#password(type='password' name='password' required='')
            a(type='button')
              i.far.fa-eye-slash
            span.highlight
            label.lab-pass Password
          p.group-example.pass-example Minimum 8 symbol        
        .group.height
          ul.unstyled.centered
            li
              input#styled-checkbox-1.styled-checkbox(type='checkbox', value='value1')
              label.rememberMe(for='styled-checkbox-1') Remember me
            li
              a.color-blue(href="") Forgot password?   
        .group
          .SignUp-btn
            a.btn(href="") Sign in 
        .group
          .SignUp-footer
            .SignUp-footer-title.margin-bottom  
              h1  or login via
            .SignUp-footer-socials
              a(href="" target="_blank") 
                img.icon-google(src="img/google.svg" alt="" srcset="")
                span.soc-name Google           
              a(href="" target="_blank")
                i.fab.fa-facebook-f 
                span.soc-name  Facebook 
  .col-left-signIn
    .SignIn-left
      .logo






