header
    .navbar
        .logo
            a(href="")
                img(src="img/logo-header.svg" alt="")
        .SignUp-head-subtitle.padding-none
            span Already have an account?
            a.color-blue Sign in
    .success-message
        .success-message-context
            .success-message-icon
                img.success-icon(src="img/success-check.svg" alt="" srcset="")
            .success-message-text
                h1 Congratulations!
                span Your password successfully changed.
            .success-message-btn
                a.btn(href="" ) Sign in




