
<header>
  <div class="navbar">
    <div class="logo"><a href=""><img src="img/logo-header.svg" alt=""/></a></div>
    <div class="SignUp-head-subtitle padding-none"><span>Already have an account?</span><a class="color-blue">Sign in</a></div>
  </div>
  <div class="success-message">
    <div class="success-message-context">
      <div class="success-message-icon"><img class="success-icon" src="img/success-check.svg" alt="" srcset=""/></div>
      <div class="success-message-text">
        <h1>Check your e-mail!</h1><span>We sent instruction for reset password to your e-mail. Please check your e-mail.</span>
      </div>
    </div>
  </div>
</header>