
<header>
  <div class="navbar">
    <div class="logo"><a href=""><img src="img/logo-header.svg" alt=""/></a></div>
    <div class="SignUp-head-subtitle padding-none"><span>Already have an account?</span><a class="color-blue">Sign in</a></div>
  </div>
  <div class="reset-message">
    <div class="reset-message-context forgot-context">
      <div class="reset-message-text">
        <h1>Forgot password?</h1><span>Please write your registered email for reset your password</span>
      </div>
      <form class="resetForm">
        <div class="group margin-bottom"> 
          <input id="forgotPassword" type="text" required=""/><span class="highlight"></span>
          <label class="lab-email">E-mail </label>
          <p class="group-example email-example"> </p>
        </div>
      </form>
      <div class="reset-message-btn"><a class="btn" href="">Send </a></div>
    </div>
  </div>
</header>