
<div class="row">
  <div class="col-left">
    <div class="left">
      <div class="logo"><a href=""><img class="logoBotbox" src="img/logo-tablet.svg" alt="" srcset=""/></a></div>
    </div>
  </div>
  <div class="col-right">
    <div class="right">
      <div class="logo"><a href=""><img class="logoBotbox" src="img/logo-header.svg" alt="" srcset=""/></a></div>
      <div class="SignUp-head">
        <h1 class="SignUp-head-title">Get your account</h1>
        <div class="SignUp-head-subtitle"><span>Already have an account?   </span><a class="color-blue" href="">Sign in </a></div>
      </div>
      <form class="SignUpForm">
        <div class="group margin-bottom"> 
          <input id="username" type="text" required=""/><span class="highlight"></span>
          <label class="lab-user">Full name</label>
          <p class="group-example username-example"> e.g. John Doe Johnny</p>
        </div>
        <div class="group margin-bottom"> 
          <input id="email" type="text" required=""/><span class="highlight"></span>
          <label class="lab-email">E-mail </label>
          <p class="group-example email-example">Enter your company e-mail</p>
        </div>
        <div class="group margin-bottom"> 
          <div class="pass">
            <input id="password" type="password" name="password" required=""/><a type="button"><i class="far fa-eye-slash"></i></a><span class="highlight"></span>
            <label class="lab-pass">Password</label>
          </div>
          <p class="group-example pass-example">Minimum 8 symbol</p>
          <div id="message">
            <p class="invalid" id="letter"> <b>Include a lowercase letter</b> </p>
            <p class="invalid" id="capital"> <b>Include a uppercase letter</b> </p>
            <p class="invalid" id="number"> <b>Include a number</b></p>
            <p class="invalid" id="length"><b>Minimum 8 character</b></p>
          </div>
        </div>
        <div class="group">
          <div class="SignUp-btn"><a class="btn" href="">Sign up now </a></div>
        </div>
        <div class="group">
          <div class="SignUp-footer">
            <div class="SignUp-footer-title margin-bottom"> 
              <h1> or sign up via</h1>
            </div>
            <div class="SignUp-footer-socials"><a href="" target="_blank"> <img class="icon-google" src="img/google.svg" alt="" srcset=""/><span class="soc-name">Google           </span></a><a href="" target="_blank"><i class="fab fa-facebook-f"> </i><span class="soc-name"> Facebook</span></a></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>