
<header>
  <div class="navbar">
    <div class="logo"><a href=""><img src="img/logo-header.svg" alt=""/></a></div>
    <div class="SignUp-head-subtitle padding-none"><span>Already have an account?</span><a class="color-blue">Sign in</a></div>
  </div>
  <div class="reset-message">
    <div class="reset-message-context reset-context">
      <div class="reset-message-text">
        <h1>Reset password</h1><span>Enter your new password</span>
      </div>
      <form class="resetForm">
        <div class="group margin-bottom">
          <div class="pass">
            <input id="resetPassword" type="password" name="password" required=""/><a type="button"><i class="far fa-eye-slash"></i></a><span class="highlight"></span>
            <label class="lab-pass">Enter new password</label>
          </div>
          <p class="group-example pass-example">Minimum 8 symbol  </p>
        </div>
        <div class="group margin-bottom">
          <div class="pass">
            <input id="resetPassword" type="password" name="password" required=""/><a type="button"><i class="far fa-eye-slash"></i></a><span class="highlight"></span>
            <label class="lab-pass">Retype new password</label>
          </div>
        </div>
      </form>
      <div class="reset-message-btn"><a class="btn" href="">Save </a></div>
    </div>
  </div>
</header>