
.SignUpForm{
    min-width: 42.4rem;
    width:80%;
    @include respond(tab-port) { 
       min-width: 296px;
     }
}

.group {
    position: relative;
    height: 7.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.margin-bottom {
    margin-bottom: 4rem;
}
.group-example {
    color: #a6abbd;
    font-size: 12px;
}

input {
    font-size: 1.6rem;
    padding: 1.8rem;
    padding-left: 1.6rem;
    display: block;
    width: 100%;
    border: none;
    border-radius: 4px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 1.6rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 8px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    padding-top: 10px;
    font-family: Arial;
    padding-left: 16px;
}

/* active state */
input:focus~label,
input:valid~label {
    top: -6px;
    font-size: 12px;
    color: $gray;
}

input:focus {
    padding-top: 24px !important;
    padding-bottom: 15px !important;
}

/* BOTTOM BARS ================================= */


/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 10rem;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
// input:focus~.highlight {
//     -webkit-animation: inputHighlighter 0.3s ease;
//     -moz-animation: inputHighlighter 0.3s ease;
//     animation: inputHighlighter 0.3s ease;
// }


.pass {
    display: flex;

    input {

        display: inline-block;
    }

    a {
        border-radius: 4px;
        border-left: none;
        display: inline-block;
        align-items: center;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        top: 20px;
        right: 5%;
        position: absolute;
    }


}

.fa-eye-slash {
    color: $gray;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;

    &:active {
        color: rgb(100, 100, 100);
    }
}

label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pass-example {
    display: block;
}



/* The message box is shown when the user clicks on the password field */
#message {
    display: none;
    width: 100%;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index:1;
}

#message p {
    padding: 10px 35px;
    font-size: 14px;

    b {
        left: 50px;
        position: absolute;
        font-weight: 500;
    }
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: $gray;
}

.valid:before {
    position: relative;
    left: -35px;
    color: $blue !important;
    // content: "✔";
    font-size: 18px;
    font-family: 'Font Awesome 5 Free';
    content: '\f058';
    

}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: #db122a;
}

.invalid:before {
    position: relative;
    left: -35px;
    // content: "✖";
    font-size: 18px;
    font-family: 'Font Awesome 5 Free';
    content: "\f057";
}